body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Jost", sans-serif;
  padding-bottom: 14px;
  padding-top: 18px;
  font-weight: 300;
}

.bg-wrapper {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}

.section-header {
  padding-top: 5.625em;
  text-align: center;
}

.section-header h3 {
  margin-bottom: 0.5em;
}

.section-header .line-red {
  margin: 2.5em auto 2.9375em auto;
}

.line-red {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 0 auto;
  background: #f38181;
}

/* Main Header Styles */
.main-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Jost", sans-serif;
  color: #fff;
  background: transparent;
}

.main-header .header-wrapper {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding-top: 1em;
}

.main-header .header-wrapper .main-logo {
  float: left;
  font-weight: 700;
  font-size: 1.875em;
}

.main-header .header-wrapper .main-menu {
  float: right;
  text-align: center;
}

.main-header .header-wrapper .main-menu li {
  display: inline-block;
  padding: 0.75em 1.875em;
}

.main-header .header-wrapper .main-menu li a {
  padding-bottom: 0.75em;
  text-transform: capitalize;
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
}

.main-header .header-wrapper .main-menu li a:hover {
  color: #8d1341;
  border-bottom: 0.1875em solid #8d1341;
  transition: 0.1s;
}

.main-header .header-wrapper .main-menu li a span {
  font-size: 1.2em;
}

.main-header .header-wrapper .main-menu li:last-child {
  padding: 0.75em 0;
}

.main-header .header-wrapper .main-menu li:nth-child(6) a:hover,
.main-header .header-wrapper .main-menu li:last-child a:hover {
  border: none;
}

/* Section-1 Styles */
#section-1 {
  height: 38em;
  color: #fff;
  background-color: #222;
}

#section-1 .content-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

#section-1 .content-slider input {
  display: none;
}

#section-1 .content-slider .slider {
  position: relative;
  width: inherit;
  height: inherit;
  overflow: hidden;
}

#section-1 .content-slider .slider .banner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s ease;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 6em;
  /* background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)); */
  background-image: url("../image/Design2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  text-align: left;
  padding-left: 65px;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
  padding-bottom: 0.3em;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-size: 2.5em;
  text-transform: none;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
  display: block;
  width: 4em;
  height: 0.1875em;
  margin: 2.5em auto;
  background: #fff;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
  padding-bottom: 5em;
  z-index: 15 !important;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
  padding: 0.5em 2em;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  color: #fff;
  background-color: #5C102D;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}

#section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
  color: #e88382;
  border-color: #e88382;
  transition: 0.3s;
}

#section-1 .content-slider .slider #top-banner-1 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-1.png") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider .slider #top-banner-2 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-2.png") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider .slider #top-banner-3 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-3.png") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider .slider #top-banner-4 {
  background: url("https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-4.png") no-repeat center center;
  background-size: cover;
}

#section-1 .content-slider nav {
  position: absolute;
  bottom: 0.5em;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding-bottom: 40px;
  padding-left: 73px;
}

#section-1 .content-slider nav .controls {
  display: block;
  width: 100%;
  display: flex;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

#section-1 .content-slider nav .controls label {
  position: relative;
  display: inline-block;
  width: 18%;
  /* height: 3.1em; */
  overflow: hidden;
  margin: 0 1em;
  /* padding-top: 1em; */
  text-align: left;
  /* text-transform: uppercase; */
  /* font-family: Montserrat, sans-serif; */
  /* font-size: 1em; */
  color: #f6eac5;
  /* font-weight: 400; */
  cursor: pointer;
  transition: all 0.3s;
  background: linear-gradient(143deg, rgb(75, 1, 29) 35%, rgb(150, 21, 70) 100%);
  padding: 12px 18px;
  border-radius: 20px;
}

#section-1 .content-slider nav .controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #4b011d;
  z-index: 100;
}

#section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
}

#section-1 .content-slider nav .controls label:hover {
  color: #e88382;
}

#section-1 .content-slider #banner1:checked ~ .slider #top-banner-1,
#section-1 .content-slider #banner2:checked ~ .slider #top-banner-2,
#section-1 .content-slider #banner3:checked ~ .slider #top-banner-3,
#section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
  opacity: 1;
  z-index: 1;
}

#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1),
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2),
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3),
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
  cursor: default;
  color: #fff;
  transition: all 0.5s;
}

#section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill,
#section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill,
#section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill,
#section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
  animation: progressBarFill 5s linear;
}

/* Animations */
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
/* Media Queries */
@media only screen and (min-width: 1920px) {
  body {
    font-size: 22px;
  }
  .main-header .header-wrapper {
    width: 57%;
  }
  #section-1 {
    height: 46em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 12em;
  }
}
@media only screen and (max-width: 1919px) {
  .banner_section {
    width: 100%;
    height: 130vh;
  }
  .main-header .header-wrapper {
    width: 60%;
  }
  #section-1 {
    height: 43em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 11em;
  }
}
@media only screen and (max-width: 1680px) {
  body {
    font-size: 18px;
  }
  .main-header .header-wrapper {
    width: 65%;
  }
  #section-1 {
    height: 120vh;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 9em;
  }
}
@media only screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }
  .main-header .header-wrapper {
    width: 70%;
  }
}
@media only screen and (max-width: 1120px) {
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 1.4em;
  }
  #section-1 {
    height: 35em;
  }
  #section-1 .content-slider nav {
    bottom: -0.2em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 7em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 2em auto;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 1.3em;
  }
  #section-1 .content-slider nav {
    bottom: 0;
  }
  #section-1 .content-slider nav .controls {
    width: 80%;
  }
}
@media only screen and (max-width: 860px) {
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 0.9em;
  }
  #section-1 {
    height: 29em;
  }
  #section-1 .content-slider nav {
    bottom: -1em;
  }
  #section-1 .content-slider nav .controls {
    width: 90%;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 2em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 4.5em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper {
    padding-top: 5em;
  }
}
@media only screen and (max-width: 768px) {
  .main-header .header-wrapper .main-menu li {
    padding: 0.75em 0.5em;
  }
  #section-1 {
    height: 27em;
  }
  #section-1 .content-slider nav .controls {
    width: 100%;
  }
  #section-1 .content-slider nav .controls label {
    width: 19%;
    font-size: 0.8em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 1.7em auto;
  }
}
@media only screen and (max-width: 650px) {
  .main-header .header-wrapper {
    width: 95%;
  }
}
@media only screen and (max-width: 480px) {
  .main-header .header-wrapper {
    width: 97%;
  }
  .main-header .header-wrapper .main-logo {
    display: none;
  }
  .main-header .header-wrapper .main-menu li {
    padding: 0.2em 0.3em;
  }
  .main-header .header-wrapper .main-menu li:last-child,
  .main-header .header-wrapper .main-menu li:nth-child(6) {
    padding: 0.2em 0.7em;
  }
  #section-1 {
    height: 26em;
  }
  #section-1 .content-slider nav {
    bottom: -0.5em;
  }
  #section-1 .content-slider nav .controls label {
    width: 40%;
    font-size: 0.7em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
    font-size: 1.5em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
    font-size: 3em;
  }
  #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
    margin: 1.7em auto;
  }
}
.banner-inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loywer_icon_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.loywer_icon_box span {
  color: #CD2364;
  font-family: "Jost", sans-serif;
  font-size: 33px;
  font-weight: 700;
}

.icon_box ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon_box .fa {
  color: #FCA118;
  padding-left: 4px;
}

.info_box h4 {
  line-height: 12px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}
.info_box p {
  font-size: 13px;
}

.quickLinks-wrap {
  position: absolute;
  top: 0px;
  right: 0;
  height: 100%;
  z-index: 102;
  width: 98px;
  align-items: center;
  pointer-events: none;
}

body > .quickLinks-wrap {
  top: 0;
}

body > .quickLinks-wrap .quickLinks {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body > .quickLinks-wrap .quickLinks:not(.stuck) .quickLinks-open {
  display: none;
}

body > .quickLinks-wrap .quickLinks.stuck {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body:not(.touch) .quickLinks.stuck {
  transition: transform 0.75s;
}

.quickLinks:not(.stuck) {
  transform: translateY(0) !important;
}

.quickLinks {
  width: 98px;
  z-index: 102;
  right: 0;
  pointer-events: auto;
  transform: translateY(-100px);
}

.quickLinks:not(.stuck) > .container {
  padding: 0;
}

.quickLinks:not(.stuck) > .container > .row {
  flex-direction: column;
}

.quickLinks:not(.stuck) > .container > .row > .col {
  width: 100%;
  min-height: inherit;
}

.quickLinks:not(.stuck) > .container > .row > .col.col-close {
  display: none;
}

.quickLinks .col > .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 12px;
  min-height: 98px;
  background-color: #f49c00;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 11px;
  line-height: 14px;
  font-family: "Poppins", serif;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

@media (max-width: 1023px) {
  .quickLinks .col > .link {
    font-size: 10px;
  }
}
.quickLinks .col > .link > [class*=icon-] {
  font-size: 38px;
  line-height: 1.3em;
}

body:not(.touch) .quickLinks .col > .link:hover, .quickLinks .col > .link.active {
  text-decoration: none;
  color: #f49c00;
  background-color: #fff !important;
  box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.05);
}

.quickLinks.stuck {
  position: fixed;
  width: 100%;
  max-width: 100vw;
  top: 0;
}

.quickLinks.stuck .col > .link {
  min-height: 98px;
}

.quickLinks.closed {
  transform: translateY(-30px) !important;
}

.quickLinks .col-close {
  max-width: 38px;
  flex: 38px;
  color: #f49c00;
  background-color: #fff !important;
  box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.05);
}

.quickLinks .col-close a {
  display: block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  width: 38px;
  height: 95px;
  text-shadow: none;
  font-size: 12px;
  color: #787878;
}

.quickLinks .col-close a:hover {
  text-decoration: none;
}

.quickLinks .col-close a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quickLinks .link-drop {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #f5f5f5;
  color: #424242;
  padding: 30px;
  top: 100%;
  left: 0;
  width: 390px;
  max-width: 100vw;
  transform: translateY(-20px);
  z-index: -1;
  transition: opacity 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  pointer-events: none;
  text-align: left;
  text-transform: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1229px) {
  .quickLinks .link-drop {
    width: 357px;
  }
}
.quickLinks .link-drop-title {
  text-transform: none;
  margin-bottom: 18px;
}

.quickLinks .link-drop-title > [class*=icon-] {
  position: relative;
  top: 3px;
  font-size: 25px;
  line-height: 1em;
  color: #f49c00;
  padding-right: 10px;
}

.quickLinks .link-drop .row-table {
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  color: #787878;
}

.quickLinks .link-drop .row-table tr:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.quickLinks .link-drop .row-table td {
  padding: 5px 0;
}

.quickLinks .link-drop .row-table td:last-child {
  text-align: right;
  color: #444;
  padding-right: 5px;
  padding-left: 5px;
}

.quickLinks .link-drop p {
  font-size: 15px;
  line-height: 24px;
}

.quickLinks:not(.stuck) .link-drop {
  left: -390px !important;
  top: 0;
  right: auto !important;
  transform: translateY(20px);
}

@media (max-width: 1229px) {
  .quickLinks:not(.stuck) .link-drop {
    left: -357px !important;
  }
}
.quickLinks .col:nth-last-child(2) .link-drop {
  left: auto;
  right: 0;
}

.quickLinks:not(.stuck) .col:nth-last-child(3) .link-drop, .quickLinks:not(.stuck) .col:nth-last-child(2) .link-drop, .quickLinks:not(.stuck) .col:nth-last-child(1) .link-drop {
  bottom: 0;
  top: auto;
  transform: translateY(-20px);
}

.quickLinks .google-map {
  width: 390px;
  max-width: 100vw;
  height: 312px;
}

@media (max-width: 1229px) {
  .quickLinks .google-map {
    width: 357px;
  }
}
.quickLinks ul.icn-list li .phone {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #424242;
  position: relative;
  top: -2px;
}

.quickLinks ul.icn-list li {
  padding-left: 24px;
}

.quickLinks ul.icn-list li > [class*=icon] {
  top: 6px;
  font-size: 14px;
}

.quickLinks .col:nth-child(1) > .link {
  background-color: #4b011d;
}

.quickLinks .col:nth-child(2) > .link {
  background-color: #63082a;
}

.quickLinks .col:nth-child(3) > .link {
  background-color: #740c34;
}

.quickLinks .col:nth-child(4) > .link {
  background-color: #63082a;
}

.quickLinks .col:nth-child(5) > .link {
  background-color: #4b011d;
}

.quickLinks .col:nth-child(6) > .link {
  background-color: #ffc453;
}

.quickLinks.stuck .link-drop {
  top: -1000%;
}

@media (min-width: 1024px) {
  body:not(.touch) .quickLinks .col:hover .link-drop, body.touch .col.hovered .link-drop {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%) !important;
    transition-delay: 0s, 0s, 0s, 0.3s;
    pointer-events: auto;
  }
  .quickLinks.stuck .col:hover .link-drop {
    top: 100%;
  }
}
.link-drop-title {
  text-transform: none;
  margin-bottom: 15px;
}

.link-drop-title > [class*=icon-] {
  position: relative;
  top: 3px;
  font-size: 25px;
  line-height: 1em;
  color: #f49c00;
  padding-right: 10px;
}

.link-drop .row-table {
  width: 100%;
  max-width: 400px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.link-drop .row-table i {
  color: #787878;
  font-style: normal;
}

.link-drop .row-table tr:not(:last-child) {
  border-bottom: 1px solid #ededed;
}

.link-drop .row-table td {
  padding: 5px 0;
}

.link-drop .row-table td:last-child {
  text-align: right;
}

.header-quickLinks .quickLinks, .header-quickLinks .quickLinks.stuck {
  transform: translateY(0) !important;
}

@media (max-width: 1023px) {
  .header-quickLinks .link {
    font-size: 10px;
    line-height: 12px;
  }
  .quickLinks .col > .link > [class*=icon-] {
    font-size: 30px;
  }
  .quickLinks.stuck .col > .link {
    min-height: 76px;
  }
}
@media (max-width: 767px) {
  .quickLinks .col > .link > [class*=icon-] {
    font-size: 18px;
  }
  .header-quickLinks .link > span {
    display: none;
  }
  .quickLinks.stuck .col > .link {
    min-height: 36px;
  }
}
.quickLinks-top .link-drop {
  background-color: #f5f5f5;
  color: #424242;
  padding: 15px;
  position: relative;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%) !important;
  transition-delay: 0s, 0s, 0.3s;
  pointer-events: auto;
}

@media (max-width: 767px) {
  .quickLinks-top .link-drop {
    font-size: 14px;
    line-height: 20px;
    padding: 15px 15px 25px;
  }
}
.quickLinks-top .link-drop .google-map {
  width: 100%;
  height: 200px;
}

@media (max-width: 767px) {
  .quickLinks-top .link-drop-title {
    font-size: 19px;
  }
  .quickLinks-top .link-drop-title > [class*=icon-] {
    font-size: 25px;
  }
}
@media (max-width: 1023px) {
  .quickLinks.stuck {
    position: relative !important;
    transform: translateY(0);
  }
  .quickLinks > .container {
    padding: 0;
  }
  .quickLinks .col-close {
    display: none;
  }
  .header-quickLinks .quickLinks {
    position: relative !important;
    transform: translateY(0);
    width: 100%;
    max-width: 100vw;
    top: 0;
  }
  .header-quickLinks .quickLinks:not(.stuck) > .container > .row {
    flex-direction: row;
  }
}
.quickLinks .quickLinks-open {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
  border-left: 45px solid rgba(244, 156, 0, 0.25);
  transform: rotate(-45deg);
  right: -10px;
  top: -20px;
  cursor: pointer;
}

.quickLinks .quickLinks-open span {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  top: -16px;
  right: 20px;
  z-index: 1;
  color: #424242;
  font-size: 30px;
  transform: rotate(45deg);
}

.quickLinks.closed .quickLinks-open {
  top: 70px;
  opacity: 1;
  pointer-events: auto;
}

body:not(.touch) .quickLinks.closed .quickLinks-open:hover {
  border-left: 45px solid rgba(244, 156, 0, 0.5);
}

body:not(.touch) .quickLinks.closed .quickLinks-open:hover span {
  color: #fff;
}

.page-content .quickLinks:not(.stuck) .quickLinks-open {
  display: none !important;
}

.quickLinks ul.icn-list .phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  color: #444;
}

.cd-schedule {
  position: relative;
  margin: 2em 0;
}

.cd-schedule ol, .cd-schedule ul {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.cd-schedule table {
  border-collapse: collapse;
  border-spacing: 0;
}

.cd-schedule::before {
  content: "mobile";
  display: none;
}

@media (min-width: 1024px) {
  .cd-schedule::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-schedule::before {
    content: "desktop";
  }
}
.cd-schedule .timeline {
  display: none;
}

@media (min-width: 1024px) {
  .cd-schedule .timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 55px;
  }
  .cd-schedule .timeline li {
    position: relative;
    height: 55px;
  }
  span .cd-schedule .timeline li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e6e6e6;
  }
  .cd-schedule .timeline li:last-of-type::after {
    display: none;
  }
  .cd-schedule .timeline li:last-child {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1024px) {
  .cd-schedule .timeline li:after {
    width: 100%;
    left: 0;
  }
  .cd-schedule .timeline li span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 55px;
    border: 1px solid #e6e6e6;
    border-top: 0;
  }
}
.timeline .timeline-top-info {
  position: absolute;
  top: 0;
  width: 145px;
}

.timeline li:nth-child(odd) > span {
  background: #f6f6f6;
}

.schedule-top-info, .timeline-top-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  padding: 0;
  background: #f49c00;
  color: #fff;
}

.schedule-top-info > span, .timeline-top-info > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.5em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

.cd-schedule .events {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #fff;
}

.cd-schedule .events .events-group {
  margin-bottom: 30px;
}

.cd-schedule .events .events-group > ul {
  position: relative;
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.cd-schedule .events .events-group > ul::after {
  display: inline-block;
  content: "-";
  width: 1px;
  height: 100%;
  opacity: 0;
  color: transparent;
}

.cd-schedule .events .doctor-card {
  flex-shrink: 0;
  float: left;
  height: 180px;
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
  transition: opacity 0.2s, background 0.2s;
}

.cd-schedule .events .doctor-card:last-of-type {
  margin-right: 0;
}

.cd-schedule .events .doctor-card a {
  display: block;
  height: 100%;
  padding: 0.8em;
}

@media (min-width: 768px) {
  .cd-schedule .events .cd-schedule .doctor-card {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .cd-schedule .events {
    float: left;
    width: 100%;
  }
  .cd-schedule .events .events-group {
    width: 14.2857142857%;
    float: left;
    border: 1px solid #fff;
    margin-bottom: 0;
    border-top: 0;
  }
  .cd-schedule .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }
  .cd-schedule .events .events-group:last-child {
    border-right: 1px solid #e6e6e6;
  }
  .cd-schedule .events .events-group > ul {
    height: 660px;
    display: block;
    overflow: visible;
    padding: 0;
  }
  .cd-schedule .events .events-group > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-schedule .events .events-group > ul:after {
    display: none;
  }
  .cd-schedule .events .doctor-card {
    position: absolute;
    z-index: 3;
    width: calc(100% + 2px);
    left: -1px;
    flex-shrink: 1;
    height: auto;
    max-width: none;
    margin-right: 0;
    margin-top: 1px;
    border: 1px solid #fff;
    border-bottom: 0;
  }
  .cd-schedule .events .doctor-card a {
    padding: 14px 5px;
    display: block;
    text-decoration: none !important;
    text-align: center;
    color: inherit;
  }
  .cd-schedule .events .doctor-card:first-of-type {
    border-top: 0;
  }
  .cd-schedule .events .doctor-card:last-of-type {
    margin-right: 0;
    margin-top: 0;
  }
  .cd-schedule .events .doctor-card:last-of-type.before-last-time:after {
    position: absolute;
    content: "";
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #e6e6e6;
  }
  .cd-schedule .events .doctor-card.selected-event {
    visibility: hidden;
  }
  .cd-schedule .events .events-group:last-child .doctor-card {
    border-right: 0;
  }
  .cd-schedule .events .events-group:first-child .doctor-card {
    border-left: 1px solid #e6e6e6;
    left: -2px;
    width: calc(100% + 3px);
  }
}
@media (min-width: 1024px) {
  .cd-schedule .events {
    width: calc(100% - 145px);
    margin-left: 145px;
  }
}
.form-control {
  font-size: 14px;
  font-weight: 400;
  min-height: 41px;
}

.form-control:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none;
}

@media (max-width: 767px) {
  .form-control {
    min-height: 36px;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 13px;
  }
}
form label {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 7px;
}

.form-control[readonly] {
  background-color: #fff;
}

.input-group {
  position: relative;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input-group [class*=icon-] {
  display: inline-block;
  top: 4px;
  margin: 0 4px;
  position: relative;
  z-index: 3;
  color: #f49c00;
  font-size: 18px;
  line-height: 35px;
  width: 35px;
  text-align: center;
}

@media (max-width: 767px) {
  .input-group [class*=icon-] {
    line-height: 28px;
  }
}
.input-group:after {
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  content: "";
  left: 0;
  top: 0;
  width: 55%;
  height: 41px;
  background-color: #fff;
  border: 1px solid #d5d5d5;
  transition: 0.2s;
  pointer-events: none;
}

@media (max-width: 767px) {
  .input-group:after {
    height: 36px;
  }
}
.input-group:hover:after {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.input-group .datepicker-wrap {
  flex: 1;
}

.input-group input:focus,
.input-group select:focus,
.input-group textarea:focus,
.input-group button:focus {
  outline: none !important;
  box-shadow: none;
}

.input-group label.error {
  flex: 1;
  min-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.input-group .form-control {
  border: 0;
  z-index: 2;
  background: transparent;
}

.input-group .form-control:first-child {
  padding-right: 0 !important;
}

.input-group .form-control:last-child {
  padding-left: 0 !important;
}

.input-group .form-control.datetimepicker,
.input-group .form-control.timepicker {
  width: 100%;
}

.modal-form .input-group:after {
  height: 40px;
}

.modal-form textarea.form-control:not(:focus) {
  border: 1px solid #d5d5d5;
  height: 75px;
}

.modal-form textarea.form-control:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.modal-form .dropdown-menu {
  position: static;
}

.modal-form .dropdown-menu:before, .modal-form .dropdown-menu:after {
  display: none;
}

.modal-form .select.form-control {
  background: transparent;
  border: 0;
}

.modal-form .selectWrapper:before {
  margin-top: -9px;
}

.link-drop .input-group:after {
  height: 35px;
  border: 0;
}

.link-drop .input-group [class*=icon-] {
  top: 1px;
}

@media (max-width: 1229px) {
  .link-drop .dropdown-menu {
    position: static;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .link-drop .dropdown-menu:before, .link-drop .dropdown-menu:after {
    display: none;
  }
}
.link-drop .input-group .form-control {
  border: none;
  background-color: transparent;
  font-size: 15px;
  line-height: 19px;
  padding: 7px 10px 8px 0;
  min-height: 0;
  height: 35px;
  max-height: 35px;
}

.about_section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 30px;
  background-image: url(../image/About_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.tab {
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
}

.tab .nav-tabs {
  margin: 0;
  border: none;
  position: relative;
  border-bottom: 1px solid rgba(112, 13, 51, 0.5019607843);
}

.tab .nav-tabs li a {
  color: #fff;
  background: linear-gradient(90deg, rgb(75, 1, 29) 0%, rgb(125, 16, 58) 100%);
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 51px;
  margin: 0px 0px 0px 0px;
  border-radius: 0;
  border: none;
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  margin-right: 130px;
  text-decoration: none;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li a:hover,
.tab .nav-tabs li.active a:hover {
  color: #fff;
  background-color: #222;
  border: none;
}

.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after {
  content: "";
  background: #fa8231;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all 0.5s ease 0s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.tab .nav-tabs li a:after {
  background: #f7b731;
}

.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before {
  opacity: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 5% 10%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 5% 10%, 0% 100%);
}

.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after {
  opacity: 1;
  -webkit-clip-path: polygon(95% 90%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(95% 90%, 100% 0, 100% 100%, 0% 100%);
}

.tab .tab-content {
  color: #444;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 25px;
  padding: 100px 0px;
}

.about_info_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_info_box .banner_content h1 {
  font-size: 48px;
  line-height: 60px;
  text-transform: capitalize;
  font-family: Jost, sans-serif;
  font-weight: 700;
  color: white;
}
.about_info_box .banner_content p {
  color: #bec0c2;
  font-weight: 400;
}
.about_info_box .banner_content a {
  padding: 0.5em 2em;
  text-align: center;
  font-size: 17px;
  color: #fff;
  background-color: #5C102D;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
}

@media only screen and (max-width: 479px) {
  .tab .nav-tabs li {
    width: 100%;
    text-align: center;
  }
}
.spacing {
  padding-bottom: 160px;
}

.services_box {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.about_text_box {
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-49%, -40%);
  color: white;
  padding: 16px;
  width: 50%;
}
.about_text_box h5 {
  color: #B97312;
  font-weight: 700;
  font-family: "Jost", sans-serif;
}

.title_text {
  text-align: center;
  padding-bottom: 50px;
}
.title_text h5 {
  font-size: 50px;
  line-height: 60px;
  text-transform: capitalize;
  font-family: Jost, sans-serif;
  font-weight: 700;
  color: #fff;
}

.offer_box {
  border-right: 1px solid #46061e;
  padding-right: 26px;
}
.offer_box h5 {
  color: #B97312;
  font-weight: 700;
  font-family: "Jost", sans-serif;
}
.offer_box p {
  color: #e9e0dd;
}
.offer_box .cta_btn {
  position: relative;
  color: #B97312;
  font-weight: 700;
  text-decoration: none;
  padding-left: 55px;
}
.offer_box .cta_btn::before {
  content: "";
  position: absolute;
  background-image: url(../image/btn_icon.png);
  background-size: 54%;
  background-repeat: no-repeat;
  top: 3px;
  bottom: 0;
  width: 74%;
  left: -5px;
}

@media (max-width: 768px) {
  .about_info_box {
    flex-direction: column;
  }
  .tab .nav-tabs li a {
    padding: 9px 25px;
    margin-right: 100px;
  }
  .tab .tab-content {
    padding: 60px 0px;
  }
  .banner_content {
    padding-top: 35px;
  }
  .services_item_row {
    flex-direction: column;
  }
  .services_item_row .services_box {
    width: 100%;
  }
  .offer_box {
    padding-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .about_info_box img {
    width: 100%;
  }
  .about_info_box .banner_content h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .about_info_box .banner_content p {
    font-size: 13px;
    line-height: 20px;
  }
  .tab .nav-tabs li a {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .services_item_row .services_box {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
  }
  .services_item_row .services_box img {
    width: 110% !important;
  }
  .services_item_row .services_box .about_text_box {
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-49%, -40%);
    color: white;
    padding: 19px;
    width: 108%;
  }
  .services_item_row .services_box .about_text_box h5 {
    font-size: 16px;
  }
  .services_item_row .services_box .about_text_box p {
    font-size: 12px;
    font-weight: 300;
    line-height: 17px;
  }
}
.team_section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 30px;
  background-color: #150811;
}
.team_section .team_content_section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content_box h5 {
  color: #6B012A;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
}
.content_box p {
  width: 60%;
  color: #bec0c2;
  font-weight: 400;
}

.button_section {
  width: 30%;
}
.button_section .learn-more-button a {
  padding: 0.5em 2em;
  text-align: center;
  font-size: 17px;
  color: rgb(255, 255, 255);
  background-color: rgb(92, 16, 45);
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
}

.owl-nav button.owl-next span,
.owl-nav button.owl-prev span {
  z-index: 10;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 55px;
  color: #fff;
  width: 60px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  background: linear-gradient(145deg, #0b92dc 0%, #0b92dc 100%);
  opacity: 0.5;
}

.owl-nav button.owl-next span:hover,
.owl-nav button.owl-prev span:hover {
  opacity: 1;
}

.owl-nav button.owl-next span {
  position: absolute;
  right: 50px;
  top: 300px;
}

.owl-nav button.owl-prev span {
  position: absolute;
  left: 50px;
  top: 300px;
}

.owl-theme .owl-nav {
  margin-top: 0px;
}

.owl-dots .owl-dot span {
  width: 30px;
  height: 7px;
}

.owl-dot.active span {
  background-color: #0b92dc !important;
}

.lawyer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team_img_box, .team_img_box2 {
  width: 80%;
}

.team_text_box {
  background: linear-gradient(0deg, rgb(49, 2, 20) 35%, rgb(99, 9, 43) 100%);
  text-align: center;
  padding: 19px 47px;
  border-radius: 69px;
  width: 97%;
  color: #fff;
  margin-top: -60px;
}
.team_text_box h6 {
  font-size: 11px;
  letter-spacing: 1px;
  color: aliceblue;
}
.team_text_box h5 {
  font-size: 20px;
  color: #fca118;
}

.testimonial_section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 30px;
  background-image: url(../image/Testimonial_section_banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title_section h5 {
  color: #6B012A;
  font-size: 44px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
}
.title_section p {
  color: #bec0c2;
  font-weight: 400;
}

.testimonial {
  background: linear-gradient(0deg, #6e1334 35%, #711638 100%);
  padding: 40px;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.testimonial p {
  color: #eee7e7;
}

.test-info {
  display: flex;
  height: 60px;
  align-items: center;
}

.test-pic {
  width: 50px !important;
  border-radius: 50%;
  margin-right: 15px;
}

.test-name {
  font-size: 12px;
  color: #0A122A;
}

.test-name span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #0A122A;
}

/* SalyTwentyThre */
.SalyTwentyThree {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 160px;
  text-align: center;
  padding: 15px 10px;
  background: white;
  border-radius: 5px;
}

.SalyTwentyThree a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.author_box h6 {
  font-size: 11px;
  letter-spacing: 1px;
  color: aliceblue;
}
.author_box h5 {
  font-size: 20px;
  color: #fca118;
}

.review_section {
  padding-top: 50px;
}

.usp_section {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url(../image/usp_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}
.usp_section .usp_section_box_right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.usp_section .usp_section_box_left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}
.usp_section .usp_img_box {
  width: 100%;
  height: 100%;
  background-image: url(../image/usp_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dark_number_box {
  background-color: #150811;
  color: #eee7e7;
  padding: 40px 45px;
}

.light_number_box {
  background-color: #4B011D;
  color: #eee7e7;
  padding: 40px 45px;
}

.usp_content_box {
  color: #eee7e7;
  padding: 41px 50px;
}
.usp_content_box h1 {
  font-size: 35px;
}
.usp_content_box a {
  padding: 0.5em 2em;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 19px;
  color: #fff;
  background-color: #5C102D;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}

.footer {
  background-color: #150811;
  padding: 30px 10px;
}
.footer .container {
  padding: 30px 0px;
}

.footer .footer-about,
.footer .footer-link,
.footer .footer-contact {
  position: relative;
  margin-bottom: 45px;
  color: #dddddd;
}

.footer .footer-about h3,
.footer .footer-link h3,
.footer .footer-contact h3 {
  position: relative;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #6F0B30;
}

.footer .footer-link a {
  display: block;
  margin-bottom: 10px;
  color: #dddddd;
  transition: 0.3s;
  text-transform: capitalize;
  text-decoration: none;
}

.footer .footer-link a::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: #6F0B30;
}

.footer .footer-link a:hover {
  color: #0085ff;
  letter-spacing: 1px;
}

.footer .footer-contact p i {
  width: 25px;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
}

.footer .footer-social a {
  display: inline-block;
}

.footer .footer-social a i {
  margin-right: 15px;
  font-size: 18px;
  color: #0085ff;
}

.footer .footer-social a:last-child i {
  margin: 0;
}

.footer .footer-social a:hover i {
  color: #dddddd;
}

.footer .footer-menu .f-menu {
  position: relative;
  padding: 10px 0;
  font-size: 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu .f-menu a {
  color: #dddddd;
  font-size: 16px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu .f-menu a:hover {
  color: #0085ff;
}

.footer .footer-menu .f-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer .copyright {
  padding: 30px 15px;
}

.footer .copyright p {
  margin: 0;
  color: #dddddd;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #6F0B30;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer .copyright p a:hover {
  color: #ffffff;
}

.footer-about a {
  text-decoration: none;
  color: #e5e5e5;
  padding-left: 12px;
}
.footer-about span {
  color: #a9263e;
}
.footer-about ul {
  display: contents;
}

.input-group-text {
  background-color: #4b011d !important;
  border: 1px solid #4b011d !important;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dfdfdf !important;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */